.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.brand Coursedex
      ul.nav
        li.active
          a(href='/') Home
        li
          a(href='/tags') Tags
        li
          a(href='/projects') Projects
        if name
          li
            a.nav.pullRight(href='#') #{name}
          li
            a(href='/new/project') New Project
          li
            a(href='/new/tag') New Tag
        else
          li
            a.nav.pullRight(href='/login') Login with Facebook
.container-fliud.content
  .row-fluid
    .span12
      h2 Projects
    .span12
      each project in projects
        li
          a(href='/project/#{project._id}') #{project.name}
