.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.brand Coursedex
      ul.nav
        li
          a(href='/') Home
        li
          a(href='/tags') Tags
        li
          a(href='/projects') Projects
        if name
          li
            a.nav.pullRight(href='#') #{name}
          li.active
            a(href='/new/project') New Project
          li
            a(href='/new/tag') New Tag
        else
          li
            a.nav.pullRight(href='/login') Login with Facebook
.container-fluid
  .row-fluid
    .span4 &nbsp
    form(action='/new/project', method='post').span4
      label Project Name *
      input(type='text', name='pname')
      label Description
      textarea(name='desc')
      label Tags (comma-seperated)
      input(type='text', name='tags')
      label Github Zip URI *
      input(type='text', name='uri')
      input(type='submit', value='submit')