!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
    link(href="/stylesheets/prettify.css", type="text/css", rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/underscore.min.js')
    script(src='/javascripts/underscore.string.js')
    script(src='/javascripts/bootstrap.min.js')
    script(type="text/javascript", src="/javascripts/syntax/prettify.js")
    script(src='/javascripts/script.js')
  body!= body
