.container-fluid
  .row-fluid
    .span12
      h1 Languages (Programming)
  .row-fluid
    .span8
      .well.tag
        h3 ActionScript
      .well.tag
        h3 Ada
      .well.tag
        h3 ALGOL 68
      .well.tag
        h3 AppleScript
      .well.tag
        h3 Bash
      .well.tag
        h3 BASIC
      .well.tag
        h3 C
      .well.tag
        h3 C++
      .well.tag
        h3 C#
      .well.tag
        h3 Caml
      .well.tag
        h3 Clojure
      .well.tag
        h3 COBOL
      .well.tag
        h3 CoffeeScript
      .well.tag
        h3 CSS
      .well.tag
        h3 Curl
      .well.tag
        h3 Dart
      .well.tag
        h3 Delphi
      .well.tag
        h3 Eiffel
      .well.tag
        h3 Emacs
      .well.tag
        h3 F#
      .well.tag
        h3 Flex
      .well.tag
        h3 Fortran
      .well.tag
        h3 Go
      .well.tag
        h3 Groovy
      .well.tag
        h3 Haskell
      .well.tag
        h3 HaXe
      a(href='/tags/html')
        .well.tag(data-info='<h3>What is HTML?</h3><p>Html is an XML based language that is commonly used to structure content in web browsers<p><h3>Why should you learn html?</h3><p>Learn Html if you want to persue web development or develop html-based mobile apps.</p>')
          h3 HTML
      .well.tag
        h3 Io
      .well.tag
        h3 Java
      a(href='/tags/javascript')
        .well.tag(data-info='<h3>What is JavaScript?</h3><p>JavaScript is a programming language based on ECMAScript that is commonly used in front end web programming.<p><h3>Why should you learn JavaScript?</h3><p>Learn JavaScript if you want to:</p><ul><li> program the front end of web browsers</li><li>Program web servers</li><li>Want to program command line tools</li></ul>')
          h3 JavaScript
      .well.tag
        h3 LaTeX
      .well.tag
        h3 Lisp
      .well.tag
        h3 Lua
      .well.tag
        h3 MATLAB
      .well.tag
        h3 Newspeak
      .well.tag
        h3 Objective-C
      .well.tag
        h3 OCaml
      .well.tag
        h3 Opa
      .well.tag
        h3 Pascal
      .well.tag
        h3 Perl
      .well.tag
        h3 PHP
      .well.tag
        h3 Processing
      .well.tag
        h3 Prolog
      .well.tag
        h3 Python
      .well.tag
        h3 Scala
      .well.tag
        h3 Scheme
      .well.tag
        h3 Smalltalk
      .well.tag
        h3 Unicorn
      .well.tag
        h3 UnrealScript
      .well.tag
        h3 VBScript
      .well.tag
        h3 Visual Basic
    .span4.tag-info.well
      p Hgkdlkhsdklfj
  .row-fluid
    h2 Apps and Programs
      .row-fluid
        .span8
          .well.tag
            h3 Illustrator
          .well.tag
            h3 iTerm 2
          .well.tag
            h3 Photoshop
          .well.tag
            h3 Sublime Text 2
          .well.tag
            h3 Terminal
          .well.tag
            h3 Vim
  .row-fluid
    h2 Languages (spoken/written)
      .row-fluid
        .span8
          .well.tag
            h3 Chinese
          .well.tag
            h3 English
          .well.tag
            h3 French
          .well.tag
            h3 Italian
          .well.tag
            h3 Spanish
  .row-fluid
    h2 Mathematics
      .row-fluid
        .span8
          .well.tag
            h3 Addition
          .well.tag
            h3 Derivation
          .well.tag
            h3 Integration
  .row-fluid
    h2 Cryptography
      .row-fluid
        .span8
          .well.tag
            h3 Ceaser Shift
          .well.tag
            h3 German Lorenz cipher
          .well.tag
            h3 RSA
          .well.tag
            h3 DSA
          .well.tag
            h3 Brute Force
          .well.tag
            h3 Rainbow Tables
          .well.tag
            h3 Bcrypt
          .well.tag
            h3 Legality
  .row-fluid
    h2 Machine Learning
      .row-fluid
        .span8
          .well.tag
            h3 Decision Tree learning
          .well.tag
            h3 Association rule learning
          .well.tag
            h3 Artifical neural networks
          .well.tag
            h3 Genetic Programming
          .well.tag
            h3 Bayesian Networks
          .well.tag
            h3 Rainbow Tables
          .well.tag
            h3 Minimizing Functions