.content{
    margin-top: 50px;
}
#meta{
    left: 70.393162%;
    position: fixed;
    top: 0;
    width:23.076923077%;
}
#meta.wider{
    left:50%;
    width:45%;
}
.highlighted{
	background:rgba(0,0,0,.3)!important;
}
.tag{
    float:left;
    height:25px;
    margin-right:5px;
}
.tag-info{
    position:fixed;
    top:100px;
    left:65.74585634900001%;
}